*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #204862;
}
h1{
    color: white;
    text-align: center;
}
.formulario{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
}
.titulo{
    background: deepskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-bottom: solid 5px crimson;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.contenedor{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid grey;
}
.mitad{
    width: 48%;
}
.entero{
    width: 100%;
}
.registrar{
    background: crimson;
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 18px;
}
.registrar:active{
    transform: scale(1.05);
}
.link{
    width: 100%;
    margin: 7px;
    font-size: 14px;
    text-align: center;
}
a{
    text-decoration: none;
}